/* Transparency */
:root {
  --color-highlight: hsla(0, 0%, 100%, 0.08) !important;
  --color-highlight-hover: hsla(0, 0%, 100%, 0.1) !important;
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
  --in-content-page-background: transparent !important;
  --background-color-box: var(--color-highlight) !important;
  --background-color-canvas: transparent !important;
}

@-moz-document url(about:config) {
  tr,
  table {
    background-color: transparent !important;
    border: none !important;
  }
  tr {
    outline: solid 1px var(--color-highlight) !important;
  }
}

/* Glass Effect */
groupbox,
groupbox button,
groupbox menulist {
  background-color: var(--color-highlight) !important;
}

/* Imemrsive Popup */
#mainPrefPane:has(menulist[open]) {
  filter: blur(20px) !important;
}
